bleach==3.1.4
click==6.7
Flask==1.0.2
gunicorn==19.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10.1
lime==0.1.1.23
Markdown==2.6.9
MarkupSafe==1.0
numpy==1.21.0
pandas==0.20.3
protobuf==3.15.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
tensorflow>=1.7.1
tensorflow-tensorboard==0.1.6
Werkzeug==0.15.3
WTForms==2.1
python-pdf==0.36
